<div class="container">
<div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group form-group-custom">
        <h2>Date Range Demo</h2>
        <div class="custom-date">
             <input type="text"
             placeholder="Date Range"
             class="form-control"
             bsDaterangepicker
             [bsConfig]="{ isAnimated: true }"
             [bsConfig]="{ maxDateRange: 60 }"
             [bsConfig]="{ adaptivePosition: true }">
        </div>
    </div>
  </div>
</div>